ion-label{
    color: #000000 !important; 
    font-size: 23px !important;
    font-weight: 500;
}
ion-row{
    margin-top: 13px !important;
}
ion-item-divider{
    align-items:flex-start;
}
.card-content-md p{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 16px !important;
    font-weight: 300;
    color: #4b4b4b !important;
    line-height: 1.5;
}
.card-content-md h4{
    color: #ab0000;
    font-size: 18px !important;
    font-weight: 400;
}
