<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="reveal">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header style="font-family:Bebas; font-size: 45px;">Francofile</ion-list-header>
          <hr />
          <hr />
          <hr />
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <footer>
        <center style="margin-bottom: 25px; font-size: 12px">
          <ion-label color="medium">Francofile 2021 | Liam.C.W</ion-label>
        </center>
      </footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
