<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="font-family:Fred;font-size: 19px;">ADD NEW VERB INFINITIVE</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="light" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        placeholder="French Verb-Infinite"
        name="nameModel"
        [(ngModel)]="nameModel"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button
    style="margin-left: 25px; margin-right: 25px; margin-top: 15px"
    expand="full"
    [disabled]="nameModel.length <= 0
      "
    (click)="addVerbToDB()"
  >
    <ion-label style="font-family:Fred;font-size: 16px;">ADD &nbsp;</ion-label>
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
